In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("bank.csv", encoding = "UTF-8", sep=";")

In [5]:
# funções de agrupamento

df.age.mean()
#df.age.min()
#df.age.max()

41.17009511170095

In [7]:
# usando o groupby

df[["marital","education","age"]].groupby(["marital","education"]).mean()

                          age
marital  education
divorced primary    51.392405
         secondary  43.496296
         tertiary   45.148387
         unknown    50.375000
married  primary    47.511407
         secondary  42.404345
         tertiary   41.777166
         unknown    48.444444
single   primary    37.013699
         secondary  33.052545
         tertiary   34.512821
         unknown    34.652174

In [9]:
# média do balanço de pessoas com idade entre 30 e 50 anos, casadas e separadas

colunas = ["balance", "marital"]
df[((df.age >= 30) & (df.age <= 50)) & (df.marital.isin(["married", "divorced"]))][colunas].groupby(["marital"]).mean()

              balance
marital
divorced   910.406877
married   1388.499231