In [1]:
import pandas as pd
import numpy as np

In [3]:
# Niveis de indice

outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hider_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [5]:
inside

[1, 2, 3, 1, 2, 3]

In [7]:
hier_index = list(zip(outside,inside))

In [9]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [10]:
hider_index = pd.MultiIndex.from_tuples(hier_index)

In [11]:
hider_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [12]:
df = pd.DataFrame(np.random.randn(6,2), index = hider_index, columns = ['A', 'B'])

In [13]:
df

             A         B
G1 1  0.295624  1.067055
   2  1.059419 -0.427072
   3  0.387243 -2.122922
G2 1 -1.349574 -2.445180
   2 -0.674781  1.071885
   3 -0.076222  1.182066

In [14]:
df.loc['G1'].loc[1]

A    0.295624
B    1.067055
Name: 1, dtype: float64

In [15]:
df.index.names = ['Grupo', 'Numero']

In [16]:
df

                     A         B
Grupo Numero
G1    1       0.295624  1.067055
      2       1.059419 -0.427072
      3       0.387243 -2.122922
G2    1      -1.349574 -2.445180
      2      -0.674781  1.071885
      3      -0.076222  1.182066

In [18]:
df.xs(1, level = 'Numero')

              A         B
Grupo
G1     0.295624  1.067055
G2    -1.349574 -2.445180