In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("Dados.xlsx")

In [7]:
# usando o loc

df.loc[4:6, ["FirstName", "LastName"]]

  FirstName  LastName
4      Gail  Erickson
5    Jossef  Goldberg
6     Dylan    Miller

In [9]:
# usando o iloc

df.iloc[[2, 6], [True, True]]

   BusinessEntityID PersonType
2                 3         EM
6                 7         EM